{% extends '@Layout/Page/Full/base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    {{ form_widget(form.service) }}
    <div id="creation_validator_parameters">

    </div>
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
{% endblock body %}

{% block scripts %}
    <script src="{{ asset('build/js/Admin/AchievementModel/Creation/create_validators.js') }}"></script>
{% endblock scripts %}